# Instrucciones

In [2]:
sales_growth=0.08
gross_margin="same as last year"
Personnel_expenses="same as last year"
interest_on_cash=0.005
tax_rate="same aslast year"
DSO=""
DIO=""
DPO=""
depreciation_tangible=0.06
amortization_intangible=0.1
capex_tangible=0.05
capex_intangible=0.02
dividends=0
#fata controlling interests
#maturities

In [12]:
years=["2018","2019","2020","2021"]

Cargamos los financial statements:

In [4]:
%store -r income_statement
%store -r current_assets
%store -r non_current_assets
%store -r current_liabilities
%store -r non_current_liabilities

### Non-current assets calcs.

In [38]:
#voy a tener que trasponer las matrices para operar m√°s facilmente en pandas

In [7]:
non_current_assets.loc[["Gross Property, Plant and Equipment"]]

,2018,2019,2020,2021
AMCX_balance-sheet_Annual_As_Originally_Reported,,,,
"Gross Property, Plant and Equipment","540,180,000","801,110,000","663,649,000","637,790,000"

In [9]:
income_statement.loc[["Business Revenue"]]

,2018,2019,2020,2021
AMCX_income-statement_Annual_As_Originally_Reported,,,,
Business Revenue,"2,971,929,000",3060321000,2814956000,3077608000

In [36]:
capex=[]
for i in years:

    capex.append(int(capex_tangible)*income_statement.loc[["Business Revenue"]][i])

In [37]:
capex

[AMCX_income-statement_Annual_As_Originally_Reported
 Business Revenue
 Name: 2018, dtype: object,
 AMCX_income-statement_Annual_As_Originally_Reported
 Business Revenue    0
 Name: 2019, dtype: int64,
 AMCX_income-statement_Annual_As_Originally_Reported
 Business Revenue    0
 Name: 2020, dtype: int64,
 AMCX_income-statement_Annual_As_Originally_Reported
 Business Revenue    0
 Name: 2021, dtype: int64]

In [26]:
income_statement.loc[["Business Revenue"]]["2020"]

AMCX_income-statement_Annual_As_Originally_Reported
Business Revenue    2814956000
Name: 2020, dtype: int64

In [34]:
capex_tangible*income_statement.loc[["Business Revenue"]]["2020"]

AMCX_income-statement_Annual_As_Originally_Reported
Business Revenue    140747800.0
Name: 2020, dtype: float64

In [32]:
capex_tangible*income_statement.loc[["Business Revenue"]]["2021"]

AMCX_income-statement_Annual_As_Originally_Reported
Business Revenue    153880400.0
Name: 2021, dtype: float64

In [35]:
for i in years:
    print(i)

2018
2019
2020
2021